body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-dm-sans: "DM Sans";
  --font-knewave: Knewave;
  --font-inter: Inter;

  /* font sizes */
  --font-size-29xl: 48px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-31xl: 50px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --style: #191919;
  --color-darkorange: #f27b13;
  --color-firebrick: #be0503;
  --color-goldenrod: #fdc55e;
  --color-black: #000;
  --color-crimson: #f54748;
  --color-cornsilk: #fff6da;

  /* border radiuses */
  --br-81xl: 100px;
  --br-12xs: 1px;
  --br-xl: 20px;
}
